{
  "openapi": "3.1.0",
  "info": {
    "title": "Monkei",
    "description": "API principal para integração com o sistema de pagamentos e transações cripto do Monkei Gateway",
    "version": "1.0.0",
    "contact": {
      "name": "Monkei Support",
      "email": "support@monkei.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.monkei.co",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.monkei.com",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/transactions/payments": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Initialize Payment",
        "description": "Creates and initializes a new payment transaction based on the provided billing and payment method",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initialized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error or invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - billing or account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/payments/{id}/status": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Check Payment Status",
        "description": "Retrieves the current status of a payment transaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Payment transaction ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/payments/pix": {
      "post": {
        "tags": ["Transactions", "PIX"],
        "summary": "Create PIX QR Code",
        "description": "Create a new PIX QR code for payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePixQRCodeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PIX QR code created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePixQRCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/payments/usdt": {
      "post": {
        "tags": ["Transactions", "USDT"],
        "summary": "Create USDT Transaction",
        "description": "Create a new USDT transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUSDTTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "USDT transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUSDTTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/remittances/pix": {
      "post": {
        "tags": ["Transactions", "Remittances"],
        "summary": "Create PIX Remittance",
        "description": "Create a new PIX remittance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePixRemittanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "PIX remittance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemittanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/remittances/usdt": {
      "post": {
        "tags": ["Transactions", "Remittances"],
        "summary": "Create USDT Remittance",
        "description": "Create a new USDT remittance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUSDTRemittanceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "USDT remittance created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemittanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/withdrawals": {
      "post": {
        "tags": ["Transactions", "Withdrawals"],
        "summary": "Create Withdrawal",
        "description": "Create a new withdrawal transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bills": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create Billing",
        "description": "Creates a new billing with customer information, payment methods, and products",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Billing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error or invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Billing"],
        "summary": "List Billings",
        "description": "Retrieves a paginated list of billings for the authenticated account",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindBillingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bills/{billingId}": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get Billing",
        "description": "Retrieves billing information by its unique identifier",
        "parameters": [
          {
            "name": "billingId",
            "in": "path",
            "required": true,
            "description": "Billing ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Billing"],
        "summary": "Cancel Billing",
        "description": "Cancels a billing by updating its status",
        "parameters": [
          {
            "name": "billingId",
            "in": "path",
            "required": true,
            "description": "Billing ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "InitPaymentRequest": {
        "type": "object",
        "required": ["idempotency_key", "currency", "method", "billing_id"],
        "properties": {
          "idempotency_key": {
            "type": "string",
            "description": "Unique key to prevent duplicate payments",
            "example": "payment_123456789"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the payment",
            "example": "BRL"
          },
          "method": {
            "type": "string",
            "enum": ["PIX", "BITCOIN", "USDC", "CARD"],
            "description": "Payment method to use",
            "example": "PIX"
          },
          "billing_id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the billing to pay",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata for the payment",
            "example": {
              "customer_id": "123",
              "order_id": "456"
            }
          }
        }
      },
      "InitPaymentResponse": {
        "type": "object",
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/TransactionResponse"
          },
          "payment_data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "next_step": {
            "type": "string",
            "description": "Next step in the payment process"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction"
          },
          "method": {
            "type": "string",
            "description": "Transaction method"
          },
          "status": {
            "type": "string",
            "description": "Transaction status"
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "qr_code": {
            "type": "string",
            "description": "QR Code data for PIX payments",
            "example": "00020126580014br.gov.bcb.pix0136123e4567-e89b-12d3-a456-426614174000520400005303986540510.005802BR5913Example Store6008Brasilia62070503***6304E2CA"
          },
          "qr_code_url": {
            "type": "string",
            "description": "URL for the QR Code image",
            "example": "https://example.com/qrcode.png"
          },
          "address": {
            "type": "string",
            "description": "Address for the payment",
            "example": "0x123e4567-e89b-12d3-a456-426614174000"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the payment",
            "example": "BRL"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Amount of the payment in cents",
            "example": 10000
          },
          "amount_in_crypto": {
            "type": "integer",
            "format": "int64",
            "description": "Amount in crypto for the payment",
            "example": 100
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration time in seconds",
            "example": 3600
          },
          "estimated_settlement_time": {
            "type": "integer",
            "format": "int64",
            "description": "Estimated settlement time in seconds",
            "example": 3600
          }
        }
      },
      "PaymentStatusResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionResponse"
          }
        ]
      },
      "CreatePixQRCodeRequest": {
        "type": "object",
        "required": ["amount_in_brl", "idempotency_key"],
        "properties": {
          "amount_in_brl": {
            "type": "integer",
            "format": "int64",
            "minimum": 500,
            "description": "Payment amount in BRL cents",
            "example": 10050
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "minimum": 120,
            "description": "Expiration time in seconds (minimum 120)",
            "example": 3600
          },
          "description": {
            "type": "string",
            "description": "Payment description",
            "example": "Payment for services"
          },
          "idempotency_key": {
            "type": "string",
            "description": "Unique key to prevent duplicate payments",
            "example": "pix_123456789"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerPixQRCode"
          }
        }
      },
      "CreatePixQRCodeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique payment ID",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "amount_in_brl": {
            "type": "integer",
            "format": "int64",
            "description": "Payment amount in BRL cents",
            "example": 10050
          },
          "status": {
            "type": "string",
            "description": "Payment status",
            "example": "PENDING"
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration time in seconds",
            "example": 3600
          },
          "qr_code": {
            "type": "string",
            "description": "PIX QR Code",
            "example": "00020126580014br.gov.bcb.pix0136123e4567-e89b-12d3-a456-4266141740005204000053039865405100.005802BR5913Test integration6008Brasilia62070503***6304E2CA"
          },
          "qr_code_url": {
            "type": "string",
            "description": "PIX QR Code in base64 format",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg=="
          }
        }
      },
      "CustomerPixQRCode": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "tax_id": {
            "type": "string",
            "description": "Customer tax ID (CPF/CNPJ)"
          }
        }
      },
      "CreateUSDTTransactionRequest": {
        "type": "object",
        "required": ["amount_in_brl", "idempotency_key", "network"],
        "properties": {
          "amount_in_brl": {
            "type": "integer",
            "format": "int64",
            "minimum": 100,
            "description": "Payment amount in BRL cents",
            "example": 10050
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "minimum": 120,
            "description": "Expiration time in seconds (minimum 120)",
            "example": 3600
          },
          "description": {
            "type": "string",
            "description": "Payment description",
            "example": "Payment for services"
          },
          "idempotency_key": {
            "type": "string",
            "description": "Unique key to prevent duplicate payments",
            "example": "usdt_123456789"
          },
          "network": {
            "type": "string",
            "description": "Network to use",
            "example": "polygon"
          }
        }
      },
      "CreateUSDTTransactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique transaction ID"
          },
          "amount_in_brl": {
            "type": "integer",
            "format": "int64",
            "description": "Payment amount in BRL cents"
          },
          "amount_in_usdt": {
            "type": "integer",
            "format": "int64",
            "description": "Payment amount in USDT"
          },
          "status": {
            "type": "string",
            "description": "Transaction status"
          },
          "wallet_address": {
            "type": "string",
            "description": "Wallet address for payment"
          },
          "network": {
            "type": "string",
            "description": "Network used"
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "description": "Expiration time in seconds"
          }
        }
      },
      "CreatePixRemittanceRequest": {
        "type": "object",
        "required": ["amount", "pix_key", "description"],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Remittance amount in BRL cents"
          },
          "pix_key": {
            "type": "string",
            "description": "PIX key for remittance"
          },
          "description": {
            "type": "string",
            "description": "Remittance description"
          }
        }
      },
      "CreateUSDTRemittanceRequest": {
        "type": "object",
        "required": ["amount", "wallet_address", "description"],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Remittance amount in USDT"
          },
          "wallet_address": {
            "type": "string",
            "description": "Destination wallet address"
          },
          "description": {
            "type": "string",
            "description": "Remittance description"
          },
          "network": {
            "type": "string",
            "description": "Network to use",
            "example": "polygon"
          }
        }
      },
      "RemittanceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique remittance ID"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Remittance amount"
          },
          "status": {
            "type": "string",
            "description": "Remittance status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "CreateWithdrawalRequest": {
        "type": "object",
        "required": ["amount", "currency", "destination"],
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Withdrawal amount"
          },
          "currency": {
            "type": "string",
            "enum": ["BRL", "USDT"],
            "description": "Withdrawal currency"
          },
          "destination": {
            "type": "object",
            "description": "Withdrawal destination details",
            "properties": {
              "pix_key": {
                "type": "string",
                "description": "PIX key (for BRL withdrawals)"
              },
              "wallet_address": {
                "type": "string",
                "description": "Wallet address (for USDT withdrawals)"
              },
              "network": {
                "type": "string",
                "description": "Network (for USDT withdrawals)"
              }
            }
          }
        }
      },
      "WithdrawalResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique withdrawal ID"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "Withdrawal amount"
          },
          "currency": {
            "type": "string",
            "description": "Withdrawal currency"
          },
          "status": {
            "type": "string",
            "description": "Withdrawal status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "CreateBillingRequest": {
        "type": "object",
        "required": ["frequency", "customer_data", "payment_methods", "products", "return_url", "completion_url"],
        "properties": {
          "frequency": {
            "type": "string",
            "enum": ["ONE_TIME", "RECURRING"],
            "description": "Billing frequency",
            "example": "ONE_TIME"
          },
          "customer_data": {
            "$ref": "#/components/schemas/BillingCustomer"
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["PIX", "BITCOIN", "USDC"]
            },
            "description": "Available payment methods",
            "example": ["PIX", "BITCOIN", "USDC"]
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata for the billing",
            "example": {
              "order_id": "123",
              "customer_id": "456"
            }
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingProduct"
            },
            "description": "Products or services being billed"
          },
          "return_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after payment",
            "example": "https://example.com/return"
          },
          "completion_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect after payment completion",
            "example": "https://example.com/completion"
          },
          "is_transparent": {
            "type": "boolean",
            "description": "Whether to use transparent checkout",
            "example": false
          },
          "allow_coupon": {
            "type": "boolean",
            "description": "Whether to allow coupons",
            "example": false
          },
          "coupons_allowed": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Coupons allowed",
            "example": ["COUPON1", "COUPON2"]
          }
        }
      },
      "BillingCustomer": {
        "type": "object",
        "required": ["customer_metadata"],
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "Customer ID",
            "example": "12345678901"
          },
          "customer_metadata": {
            "$ref": "#/components/schemas/BillingCustomerMetadata"
          }
        }
      },
      "BillingCustomerMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Customer name",
            "example": "João Silva"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number",
            "example": "+5511999999999"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address",
            "example": "joao@example.com"
          },
          "tax_id": {
            "type": "string",
            "description": "Customer tax ID (CPF/CNPJ)",
            "example": "12345678901"
          }
        }
      },
      "BillingProduct": {
        "type": "object",
        "required": ["external_id", "price", "quantity"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Product ID"
          },
          "external_id": {
            "type": "string",
            "description": "Product external ID"
          },
          "price": {
            "type": "number",
            "format": "decimal",
            "description": "Product price"
          },
          "quantity": {
            "type": "integer",
            "description": "Product quantity"
          }
        }
      },
      "BillingResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the billing"
          },
          "frequency": {
            "type": "string",
            "description": "Billing frequency"
          },
          "status": {
            "type": "string",
            "description": "Billing status"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Payment URL"
          },
          "amount": {
            "type": "number",
            "format": "decimal",
            "description": "Billing amount"
          },
          "allow_coupon": {
            "type": "boolean",
            "description": "Whether coupons are allowed"
          },
          "coupons_codes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Applied coupon codes"
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available payment methods"
          },
          "customer": {
            "$ref": "#/components/schemas/BillingCustomer"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingProduct"
            },
            "description": "Products"
          },
          "completion_url": {
            "type": "string",
            "format": "uri",
            "description": "Completion URL"
          },
          "return_url": {
            "type": "string",
            "format": "uri",
            "description": "Return URL"
          }
        }
      },
      "FindBillingsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "limit": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of items"
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for API authentication"
      }
    }
  }
}